<header>
<h1>CST8912 Ecommerce Store Project</h1>
<nav>
<a href="/">Home</a>
<a href="/products">Products</a>
<a href="/cart">Cart</a>
<a href="/login">Login</a>
</nav>
</header>

<div class="products">
<% products.forEach(p => { %>
<div class="card">
<img src="<%= p.ImageUrl %>" width="200">
<h3><%= p.Name %></h3>
<p>$<%= p.Price %></p>
<a href="/product/<%= p.Id %>">View</a>
</div>
<% }) %>
</div>
